@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

.container{
  text-align: center;
  margin-top: 100px;
  font-family: 'Maven Pro', sans-serif;
}

#newGame{
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  border: 2px solid rgb(187, 255, 0);
  background-color: hsl(69, 100%, 50%);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

#results{
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  margin-top: 80px;
}

.record{
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 500px;
  text-align: center;
}

.numOfMines {
width: 200px;
}
.timer {
width: 200px;
}

/* CSS classes you can use on your table td to display the relevant tile */
td.unopened {
  background: url('img/unopened.svg');
  cursor: pointer;
}
td.opened {
  background: url('img/opened.svg');
}
td.flagged {
  background: url('img/flag.svg');
  /* pointer-events:none; */
}
td.question {
  background: url('img/question.svg');
}
td.mine {
  background: url('img/mine.png');
}
td.mine-neighbour-1 {
  background: url('img/1.svg');
}
td.mine-neighbour-2 {
  background: url('img/2.svg');
}
td.mine-neighbour-3 {
  background: url('img/3.svg');
}
td.mine-neighbour-4 {
  background: url('img/4.svg');
}
td.mine-neighbour-5 {
  background: url('img/5.svg');
}
td.mine-neighbour-6 {
  background: url('img/6.svg');
}
td.mine-neighbour-7 {
  background: url('img/7.svg');
}
td.mine-neighbour-8 {
  background: url('img/8.svg');
}

/* Positioning the Minesweep table and make sure the cells are square */
table{
  margin: 80px auto;
}

table #minesweeper {
  margin: auto;
  margin-top: 3em;
  border: 1px solid #999;
  border-collapse: collapse;
}
table #minesweeper td {
  width: 30px;
  height: 30px;
  background-size: cover;
}